 @media only screen and (min-width:200px) and (max-width:999px){
    .top-bar{display:none;}
    .logo-area {width: 50%;margin-left:20px;}
    .menu-area {width:44%;margin-top: 0px;float: right;}
    .login-area{width: 0;}
    .menu-area span{margin-left: 5px;font-size: 23px;}
    .menu-area i{margin-right: 10px;}
    .search-come {top: 10px;}
    .content-part{width:99%;margin-bottom: 50px;}
    .recent-post-box, .recent-comment-box{width: 99%;}
    .post-meta span{font-size: 13px;}
    .right-side-part{  
        width: 100%;
        margin-top: 57px;
        clear: both;
    }
    .recent-post-content-box img{width: 160px;}
    .add-part img{width: 210px;}
    .footer-part{height: 300px;}
    .footer-right{width: 70%;}
    .copyright-text {font-size: 12px;}
    .footer-right ul li{padding:5px 3px;}
    .recent-comment-box {margin-top: 50px;}
    .open-menu {font-size: 22px;}
    .top-bar-phone{display: block;}
    .menu-area.tab{display: block;}
    .logo-area img{width: 250px;margin-left: 34px;}
    input.search-field{width:445px;}
    .search-submit{width:140px;}
    .advanced-search{width:50%;}
    .login-form{width:50%;}
    .content-box{width:45%;}
    .material-symbols-outlined.open-menu {
        position: absolute;
      }
}

@media only screen and (min-width:200px) and (max-width:760px){
    .menu-area{width: 23%;}
    .logo-area {width: 50%;margin-left:0px;}
    .advanced-search {width: 38%;}
    .menu-area.tab{display: none;}
    .phone{display: block;}
    .menu-area.phone li{padding:0px 2px;}
    .menu-area.phone i{margin-left: 0px;}
    .search-icon{margin-right: -7px;}
    .menu-area i {margin-right: 5px;}
    .fa-solid.fa-user.userIcon {margin-left: 32px;font-size: 17px;}
    input.search-field{width:302px;}
    .search-submit{width: 111px;}
    .right-side-part{width:100%;}
    .content-box{width: 50%;}
    .recent-post-content-box img{width:95px;}
    .post-image img{width:100%;}
    .footer-content{width: 80%; margin: 0 auto;}
    .footer-left{width: 100%;display: block;margin-left: 0px;margin-bottom: 15px;text-align: center;float: none;}
    i.fa-solid.fa-ellipsis{position: relative;margin-left: -82px;}
    .footer-logo{position: absolute;}
    .footer-right{width: 100%;text-align: center;}
    .footer-part{height: 328px;}
    .content-part-title{margin-left: 4px;}
    .content-part-title::after{width: 48%;}
    .content-box{width: 100%;margin-left: 0px;}
    .login-form{width:75%;left: 13%;}
    .search-form, .searchform{width: 100%;}
    .recent-post-box, .recent-comment-box{width: 100%;}
    .nobg::after{width: 59%; left:169px;}
    .logo-area img {width: 100%;margin-left: 0px;}

}


@media only screen and (min-width:200px) and (max-width:540px){
    .tab{display: none;}
    .phone{display: block;}
    .logo-area{width: 50%;}
    .menu-area{width: 23%;}
    .content-box{width: 100%;margin-left: 0px;}
    .search-bar{top:-13%}
    .recent-post-content-box img{width: 99px;}
    .footer-part {height: 458px;padding: 31px 5px;}
    .footer-content{width: 99%;text-align: center;}
    .footer-left{width: 100%;margin-left: 11px;margin-bottom: 9px;}
    .footer-right{width: 100%;text-align: center;}
    .copyright-text {font-size: 14px;}
    .menu-area.tab{display: none;}
    .menu-area.phone{display:block;}
    .logo-area img{width: 100%;}
    .search-bar{width:100%;height: 145px;}
    .search-form, .searchform{position: relative;}
    input.search-field{width: 100%;font-size: 17px;margin-top: 13px;}
    .search-submit {width:119px;margin-top: 4px;font-size: 14px;border-radius: 2px;margin-right: 0px;}
    .advanced-search{margin-top: 8px;}
    .search-come{top:0px;}
    .login-form{width:80%;left:10%;}
    .registration-title{margin-left: 9px;}
    .search-box{margin-left: 9px;}
    .search-box label{width: 100%;}
    .search-box input[type="text"]{width:78%;}
    .search-box select{width: 80%;}
    .cat-box{width:100%;}
    .button{margin-right: 25px;}
    .footer-part{height: 331px;}
    .search-bar{height: 111px;}
    .advanced-search{width: 36%;margin-top: -12px;font-size: 12px;}
} 
@media only screen and (min-width:200px) and (max-width:440px){
    .menu-area{width:30%;}
    .menu-area.tab a, .menu-area.phone a{margin-left: 1px;}
    .fa-solid.fa-user.userIcon{font-size: 17px;margin-left: 21px;}
    input.search-field{width: 62%;float: left;margin-top: 12px;}
    .search-submit{width: 110px;margin-top: -35px;}
    .advanced-search{margin-top: -15px;}
}
@media only screen and (min-width:200px) and (max-width:320px){
    .logo-area {width: 35%;}
    .logo-area img{width: 100%;}
    .menu-area{width: 52%;}
    .menu-area.phone i{font-size: 14px;}
    .menu-area span{font-size: 20px;}
    .fa-solid.fa-user.userIcon{font-size: 14px;}
    .content-part-title{font-size: 13px;margin-left: 20px;}
    .recent-post-content-box img{width: 37%;}
    .footer-part{height: 433px;}
    .footer-left{margin-left: 0px;}
    .footer-right p{font-size: 12px;margin-bottom: 30px;}
    p.copyright-text{font-size: 12px;}
}