
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100%;
    height: 52px;
    box-shadow: 0 0 5px;
    padding: 10px;
}
.top-bar {
    width: 80%;
    margin: 0 auto;
}
.content-area{clear: both;}


.logo-area {
    width: 20%;
    float: left;
    display: flex;
}

.logo-area i.fa-solid.fa-bars {
    font-size: 35px;
    margin-right: 23px;
    margin-top: 0px;
}
.logo-area img {
    width: 45%;
    height: 30px;
}
.menu-area {
    width: 55%;
    float: left;
    margin-top: -10px;
}
.login-area {
    width: 22%;
    float: left;
    display: flex;

}
.menu-area ul li{
    display: inline-block;
    padding: 12px 10px;
    

}
.menu-area ul li a{
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-area ul li:hover{
    border-bottom: 4px solid blue;
    
}
.menu-area ul li{
    position: relative;
}
.menu-area ul li ul{
    width: 280px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: -10%;
    left: 0;
    z-index: 33;
    text-align: center;
    box-shadow: 0 2px 2px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: scaleY(0);
}
.menu-area ul li ul li{
    display: block;
    margin-left: -30px;
    padding: 5px 4px;
    padding-top: 15px;
}
.menu-area ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top:109%;
    transform: scaleY(1);
    transform-origin: top;
}
.menu-area ul li ul li ul{
    top: 7px !important;
    left:80%;
    opacity: 0 !important;
    visibility: hidden !important;
    transition: .4s;
    z-index: 2;
    
}
.menu-area ul li ul li:hover ul{
    left: 100%;
    opacity: 1 !important;
    visibility: visible !important;

}
.register-btn {
    margin-right: 10px;
    height: 35px;
}
.register-btn i{margin-right: 4px;font-size: 13px;}
.login-area p{margin-right: 10px;margin-top: 3px;}
.search-icon{margin-top: 3px;}
.search-icon i{color: black;font-size: 18px;}

.content-part {
    width: 73%;
    float: left;
}
.add-part-top img{
    width: 100%;
}
.add-part, .add-part-top{
    margin-bottom: 20px;
    margin-top: 23px;
}
.add-part img{width: 100%;}
.content-box {
    width: 45%;
    float: left;
    border-bottom: 1px solid #eae7e7;
    margin-left: 30px;
    margin-bottom: 25px;
    padding-bottom: 10px;

}
.content-part-title {
    font-size: 20px;
    font-weight: 400;
    color: #505050;
    margin-left: 29px;
    text-transform: uppercase;
}

.post-image img {
    width: 100% !important;
    height: 300px !important;
}
.post-details p{
    color: #505050;
}
.right-side-part {
    width: 24%;
    float: right;
}
.recent-post-content-box {
    width: 100%;
    background: #F8F8F8;
    height: 110px;
    padding: 10px;
    border-bottom: 1px solid #c5c5c5;
}
.rpcb-content {
    width: 67%;
    float: left;
}
.recent-post-content-box img {
    width: 33%;
    float: right;
}
h4.recent-post-title {
    font-size: 17px;
    font-weight: 500;
    background: #ee3f00;
    padding: 10px;
    color: white;
}
h5.rpcb-title{font-size: 15px;}
h3.post-title {
    font-size: 1.313rem;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}
.post-category {
    border: 1px solid #8e8e8e;
    padding: 2px 5px;
}
.post-meta span{margin-left: 5px;color: #8e8e8e; font-size: 15px;}

.recent-comment-box {
    margin-top: 40px;
}

.comment-box {
    margin-top: 24px;
}
p.comment-details {
    background: #F2F2F2;
    padding: 15px;
    border-radius: 5px;
    margin-top: 17px;
    margin-bottom: 15px;
    font-size: 15px;
    /* color: black; */
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none !important;

}
.comment-title {
    font-size: 16px;
    font-weight: bold;
}
.footer-part {
    clear: both;
    background: #222222;
    width: 100%;
    height: 250px;
    color: #FFFFFFCC;
    padding: 31px 45px;
    margin-top: 65px;
}
.footer-content{
    width:90%;
    margin:0 auto;
}

.footer-left {
    width: 30%;
    float: left;
}

.footer-right {
    width: 44%;
    float: right;
    text-align: right;
}
.footer-right p{font-size: 16px;margin-bottom: 40px;}
.footer-divider {
    width: 99%;
    height: 1px;
    background: #5b5a5a;
    clear: both;
    margin-top: 111px;
    margin-bottom: 25px;
}
.footer-right ul li{
    display: inline-block;
    padding:5px 4px;
    transition: .2s;
}
.footer-right ul li a{
    font-size: 16px;
    color:#FFFFFFCC;
    text-decoration: none;
}
.footer-right ul li a:hover{
    color:#FFF;
}
.post-content {
    width: 85%;
    margin: 0 auto;
    margin-top: 13px;
}
.post-content img {
    width: 93%;
    margin-bottom: 15px;
}
.link-box {
    border: 2px solid #e5e1e1;
    padding: 10px 20px;
    margin-top: 54px;
    line-height: 34px;
    border-radius: 5px;
}
.related-articles {
    margin-top: 50px;
}
.related-part-title{
    font-size: 20px;
    font-weight: 400;
    color: #505050;
    padding-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #e2e2e2;
}
.recent-article-box {
    border-bottom: 2px solid #e2e2e2;
    padding:5px 10px;
    padding-right: 250px;
}
.category-track {
    font-size: 14px;
    font-weight: 500;
    color: #9E9E9E;
}
.category-track a{color:#000;text-decoration: none;}

.sidebar {
    width: 312px;
    background: #fbfbfb;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -370px;
    padding: 10px 20px;
    transition: .3s;
    overflow-y: scroll;
    z-index: 99;
}
.show{left: 0;}
.close-icon {
    width: 20%;
    float: right;
    font-size: 36px;
    color: #cecccc;
}
.sidebar-logo {
    clear: right;
    width: 100%;
    border-bottom: 2px solid #c2c2c2;
    padding-bottom: 20px;
}
.dropdown{display: none;}
.sidebar-logo img{width: 55%;}
.sidebar-menu {
    margin-top: 20px;
}
.sidebar ul{margin-left: 10px;}
.sidebar-menu ul li{
    display: block;
    padding: 5px;
    margin-left: -52px;
}
.sidebar-menu ul li a{
    font-size:20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 20px;
}
.sidebar-menu ul li:hover{
    background:#efefef;
}
.open-menu, .close-icon{cursor: pointer;}
.header{position: relative;z-index: 44;background: white;}
.search-bar {
    clear: both;
    width: 100%;
    background: #dadada;
    height: 85px;
    position: absolute;
    text-align: center;
    top:-7%;
    transition: .3s;
}
.search-come{top:7%;}
.search-icon-off{display: none;}
.search-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px;
}
input.search-box {
    width: 51%;
    height: 45px;
    border: 0px solid;
    padding: 9px;
    font-size: 19px;
   
}
input.search-btn {
    width: 180px;
    height: 45px;
    margin: 5px 0px;
    background: #0158d4;
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    border: 0px solid;
}
.phone, .top-bar-phone{display: none;}
.off,.other-menu nav{display: none;}
.other-menu nav {
    margin-top: -10px;
}
.other-menu ul{
    width: 100%;
    background:#fbfbfb;
    
}
.other-menu ul li{
    display: block;
    padding: 3px 5px;
    margin-left: -40px;

}
.other-menu ul li a{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
}
.other-menu ul li:hover{
    background:#efefef;
}
.sidebar-other{
    position: relative;
    margin-top: -10px;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 11px;
    cursor: pointer;
}
.sidebar-other span i{
    font-size: 16px;
    position: absolute;
    top:8px;
    left:38%;
}
.sidebar-other p{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 13px;
}
.post-categories ul li{
    display: inline-block !important;
    padding:0px 5px;
}
.post-categories ul li a{text-decoration: none;}
.top-part-single{ 
    margin-bottom: 20px;
    margin-top: 23px;
    display: flex;
}
.post-categories li{
    display: inline-block;
    margin-left: -28px;
    margin-right: 10px;
}
.post-categories li a{
    color: #5b5a5a;
    text-decoration: none;
}