.header {
    width: 100%;
    height: 52px;
    box-shadow: 0 0 5px;
    padding: 10px;
}
.top-bar {
    width: 80%;
    margin: 0 auto;
}
.content-area{clear: both;}


.logo-area {
    width: 20%;
    float: left;
    display: flex;
}

.logo-area i.fa-solid.fa-bars {
    font-size: 35px;
    margin-right: 23px;
    margin-top: 0px;
}
.logo-area img {
    width: 45%;
    height: 30px;
}
.menu-area {
    width: 55%;
    float: left;
    margin-top: -10px;
}
.login-area {
    width: 22%;
    float: left;
    display: flex;

}
.menu-area ul li{
    display: inline-block;
    padding: 12px 10px;
    

}
.menu-area ul li a{
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-area ul li:hover{
    border-bottom: 4px solid blue;
    
}
.register-btn {
    margin-right: 10px;
    height: 35px;
}
.register-btn i{margin-right: 4px;font-size: 13px;}
.login-area p{margin-right: 10px;margin-top: 3px;}
.search-icon{margin-top: 3px;}
.search-icon i{color: black;font-size: 18px;}

.content-part {
    width: 73%;
    float: left;
}
.add-part{
    margin-bottom: 20px;
}
.add-part img{width: 100%;}
.content-box {
    width: 45%;
    float: left;
    border-bottom: 1px solid #eae7e7;
    margin-left: 30px;
    margin-bottom: 25px;

}
.content-part-title {
    font-size: 20px;
    font-weight: 400;
    color: #505050;
    margin-left: 29px;
    text-transform: uppercase;
}
img.post-image {
    width: 100%;
}
.right-side-part {
    width: 24%;
    float: right;
}
.recent-post-content-box {
    width: 100%;
    background: #F8F8F8;
    height: 110px;
    padding: 10px;
    border-bottom: 1px solid #c5c5c5;
}
.rpcb-content {
    width: 67%;
    float: left;
}
img.rpcb-img {
    width: 33%;
    float: right;
}
h4.recent-post-title {
    font-size: 17px;
    font-weight: 500;
}
h5.rpcb-title{font-size: 15px;}
h3.post-title {
    font-size: 1.313rem;
    margin-top: 3px;
}
.post-category {
    border: 1px solid #8e8e8e;
    padding: 2px 5px;
}
.post-meta span{margin-left: 5px;color: #8e8e8e; font-size: 15px;}

.recent-comment-box {
    margin-top: 40px;
}

.comment-box {
    margin-top: 24px;
}
p.comment-details {
    background: #F2F2F2;
    padding: 15px;
    border-radius: 5px;
    margin-top: 17px;
    margin-bottom: 15px;
    font-size: 15px;
    /* color: black; */
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none !important;

}
.comment-title {
    font-size: 16px;
    font-weight: bold;
}